body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .scrolling-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .card {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .social-media {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-media a {
    margin-right: 10px;
  }
  
  .social-media img {
    width: 40px;
  }
  .portfolio-header {
    text-align: center;
    font-size: 3em;
    color: white;
    margin-top: 50px;
    background-color: black;
  }
